@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
/* Importa as fontes do Google Fonts. */

*{
    margin: 0;
    padding: 0;
} /* Seleciona todos os elementos da página. Essa parte do código limpa todos os padrões dos navegadores. */

body{
    height: 100vh; /* vh é viewport height, ou seja, 100% da altura da tela. */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento. */
    background-color: black;
    color: white;
} /* Seleciona o body do html. */

.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
} /* Seleciona o título do html. */

.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
} /* Seleciona o parágrafo do html. */

img{
    width: 450px;
    height: 500px;
    border-radius: 10px;
}/* Seleciona a imagem do html. */

.titulo-destaque{
    color: #22D4FD;
    font-family: 'Krona One', sans-serif;
} /* Seleciona a classe titulo-destaque, definida no html. */

.apresentacao {
    margin: 10% 15%; /* Margem de 10% em cima e embaixo e 15% nos lados. */
    display: flex; /* Torna o layout responsivo. */
    align-items: center; /* Controla o alinhamento vertical dos itens dentro do contêiner */
    justify-content: space-between; /* Controla o alinhamento horizontal dos itens dentro do contêiner. */
}

.apresentacao__conteudo{
    width: 615px; /* Largura do conteúdo. */
    display: flex; 
    flex-direction: column; /* Faz com que os elementos fiquem um embaixo do outro. */
    gap: 40px; /* Espaçamento entre os elementos. */
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;     
}

.apresentacao__links__link{
    /* background-color: #22D4FD; Cor de fundo do botão. */
    border: 2px solid #22D4FD; /* Borda do botão. */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    color: white; /* Cor do texto do botão. */
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    padding: 21.5px 0px; /* Espaçamento interno do botão. */
    text-decoration: none; /* Remove o sublinhado do link. */
}

.apresentacao__links__link__icone {
    width: 24px;
    height: 24px;
}
